* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.hero {
    padding: 5% 5% 5% 20%;
    /* background-color: #663399; */
    background-image: url(Assets/1687682136534\ \(3\).jpg);
    background-size: cover;

    height: 70vh;
    /* width: 80vw; */
    overflow: hidden;

    /* margin: 5%; */
    /* color: purple; */
    text-align: left;
   

}

.hero h1 {
    /* font-size: xx-large; */
    font-size: 60px;
    color: #8d39e6;
    padding-bottom: 2%;
}
.hero h2 {
    color: white;
    padding-bottom: 2%;
}
.hero p {
    
    /* font-size: xx-large; */
    color: white;
    width: 40%;
    padding-bottom: 2%;
}

.login-btn {
    
    height: 40px;
    width: 120px;
    border: none;
    background-color: #ad73eb;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}


.work {
    border-top: solid black 2px;
    background-color: #0c0a33;
    display: flex;
    flex-direction: row;
    height: 50vh;
    /* width: 100vw; */
}
.work-heading {
    color: white;
    width: 50%;
    padding: 5% 5% 5% 20%;
}
.work-heading h2 {
     margin-bottom: 10%;
}
.work-img {
    /* width: vh; */
    height: 20px;
    padding-bottom: 50%;
    margin-top: 4%;
}

.buy-books {

    padding: 5% 5% 5% 20%;
    background-color: #0c0a33;

}

.buy-books-heading h2{
    margin-bottom: 5%;
    color: white;

}
.buy-books-heading p {
    
    color: white;

}

.topics {
    display: flex;
    flex-direction: row;
    margin-top: 5%;

}
.topics h3 {
    margin-bottom: 10%;
    color: white;
}
.topics  ul li a {
    margin-bottom: 10%;
    color: white;
    list-style-type: disc;
    text-decoration: none ;
}
.er {
    padding: 0% 5% 2% 2%;
}
.sc {
    padding: 0% 5% 2% 5%;
}
.hs {
    padding: 0% 0% 2% 5%;
}
.buy-btn {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #8061ff;
    cursor: pointer;
}

.sell-books {
    padding: 5% 5% 5% 20%;
    height: 70vh;
    background-color:  #0c0a33;
}

.sell-books-heading{
    margin-bottom: 5%;
}
.sell-books-heading h2{
    margin-bottom: 5%;
    color: white;
    
}

.sell-grids {
    display: grid;
    grid-template-columns: 40% 4fr;
}
.step-1 {
    border: none; 
    border-radius: 10px;
    background-color: #171542;
    color: wheat;
    margin-bottom: 5%;
    width: 25vw;
    height:20vh;
} 
.step-2 {
    border: none; 
    border-radius: 10px;
    background-color: #171542;
    color: wheat;
    margin-bottom: 5%;
    width: 25vw;
    height: 20vh;
} 
.step-3 {
    border: none; 
    border-radius: 10px;
    background-color: #171542;
    color: wheat;
    width: 25vw;
    height: 20vh;
} 
.step-4 {
    border: none; 
    border-radius: 10px;
    background-color: #171542;
    color: wheat;

    width: 25vw;
    height:20vh;
} 

.step-1 h3 {

    padding: 5% 5% 5% 5%;
    color: white;
}
.step-2 h3 {

    padding: 5% 5% 5% 5%;
    color: white;
}
.step-3 h3 {

    padding: 5% 5% 5% 5%;
    color: white;
}
.step-4 h3 {
    padding: 5% 5% 5% 5%;
    color: white;
}
.step-1 p {

    padding: 0% 5% 5% 5%;
    color: white;
}
.step-2 p {

    padding: 0% 5% 5% 5%;
    color: white;
}
.step-3 p {

    padding: 0% 5% 5% 5%;
    color: white;
}
.step-4 p {
    padding: 0% 5% 5% 5%;
    color: white;
}
.sell-book-btn {
    margin: 3% 0 3% 0;
    
}
.sell-btn {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #ad73eb;
    cursor: pointer;
}


.share-books {
    padding: 5% 5% 5% 20%;
    height: 70vh;
    background-color: #0c0a33;
}

.share-books h2 {
    margin: 0 0 5% 0;
    color: #ffffff;
  
}
.share-books p {
    color: #ffffff;
  
}
.share-grids {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 70vw;
}
.share-step-1 {
    width: 25vw;
    margin-right: 3%;
}
.share-step-2 {
    width: 25vw;
    margin-right: 3%;
}
.share-step-3 {
    width: 25vw;
}
.share-grids h3{
    margin: 5% 0 5% 0;
    color: #ffffff;
}
.share-grids p{
   
    color: #ffffff;
}
.share-img{
    height: 40vh;
}


.chat{
    border-top: solid black 2px;
    background: rgb(24,20,72);
    background: linear-gradient(90deg, rgba(24,20,72,1) 6%, rgba(44,40,90,1) 29%, rgba(21,17,64,1) 77%, rgba(24,20,72,1) 98%);
    padding: 5% 5% 5% 20%;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.chat h2{
    /* padding: 5% 5% 5% 20%; */
    font-size: 40px;
    color: #ffffff;
}
.chat p{
    padding: 5% 0 0 0;
    font-size: 20px;
    color: white;
    width: 900px;
}
.chat button{
   
    height: 40px;
    width: 120px;
    border: none;
    margin-top:5%;
    background-color: #ad73eb;
    color: white;
    /* position: absolute; */
    /* left: 300px;
    top: 2200px; */
    
    border-radius: 10px;
    
}

.faqs {
    padding: 5% 5% 5% 20%;
    height: 70vh;
    background-color: #0c0a33;
}
.faqs h2 {
    padding: 0 0 5% 0;;
    color: #ffffff;
}
.faqs h3 {
    padding: 0 0 2% 0;
    color: #ffffff;

}
.faqs p {
    padding: 1% 0 1% 0;
    color: #ffffff;
}

.contact-join {
    background-color: #150d48;
    padding: 10% 10% 0 20%;
    height: 90vh;

}
.contact-us{
    padding: 5% 5% 5% 5%;
    font-size: 20px;
    color: white;
    background-color: #0c0a33;
    margin-left: 15%;
    /* display: flex;
    flex-direction: column; */
    height: 20vh; 
    width: 30vw;

    
    /* margin: 10% 10% 0 20%; */
    /* border: solid white 2px; */
    border-radius: 10px;
}
.contact-us h2{
    padding:0 1% 5% 1%;
    font-size: 20px;
    color: white;
  
  
}
.contact-us p{
    padding:3% 0 3% 0;
    font-size: 20px;
    color: white;
   
}


.joinco{
    padding: 5% 5% 5% 5%;
    font-size: 20px;
    color: black;
    background-color: #0c0a33;
    display: flex;
    flex-direction: column;
    height: 20vh; 
    width: 30vw;
    
    border-radius: 10px;
    margin-left: 15%;
    
    margin-top: 5%;
 
}
.joinco h2{
    padding:0 1% 5% 1%;
    font-size: 20px;
    color: white;
  
  
}
.joinco p{
    padding:3% 0 3% 0;
    font-size: 20px;
    color: white;
   
}
.joinco button{
   
    height: 40px;
    width: 120px;
    border: none;
    background-color: #8061ff;
    color: #0c0a33;
    border-radius: 10px;
    /* margin-top: 2%; */
}


.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .collapsible {
    background-color: #8061ff;
    background-color:#8d39e6;
    color: rgb(15, 14, 14);
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  
  .full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
  }
  
  .outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
  }
  
  .chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
  }
  
  .chat-container::-webkit-scrollbar {
    display: none;
  }
  
  .chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
  }
  
  .chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
  }
  
  #chat-icon:hover {
    opacity: .7;
  }
  
  /* Chat bubbles */
  
  #userInput {
    width: 75%;
  }
  
  .input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
  }
  
  .userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
  }
  
  .userText span {
    line-height: 1.5em;
    display: inline-block;
    background-color: #8d39e6;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
  }
  
  .botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
  }
  
  .botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
  }
  
  @keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
  }
  
  @media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
  }
  .share-pics {
    border-radius: 10px;
}
  
html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: #222;
}